/*------------
Fuentes
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*-----------
Global Css
----------*/
:root{
     --font:#E5E5E5;
     --white:#FFFFFF;
     --Dark-Blue:#0A3871;
     --Greey:#C5C5C5;
     --Medium-gray:#67808E;
     --RGBA: rgba(0,0,0,0.08);
     --White-blue: #D8DFE8;
     --Medium-Blue:#0a38718a;
     --Gray:#343A40;
     --Gree: #495057;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    background: var(--white);
}

::selection{
    background: var(--Dark-Blue);
    color: var(--white);

}

body{
    height: 100%;
}
img{
    max-width: 100%;
}

/*---------- 
Encabezado
----------*/
header{
    position: absolute;
    margin: 20px;
    left: 0;
    top: 0;
   

}
header .logo{
display: flex;
align-items: flex-start;
width: 100%;
height: auto;


}

/*------------------
Principal
------------------*/
main{
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    
    width: 100%;
   
}

.encriptador{
    width: 90%;
    margin: 20px auto;
    background: transparent;
    padding: 10%;
   
   
}



.encriptar{
    width: 100%;
    max-width: 660px;
    height: 90%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--Greey);
    border-radius: 15px;
    resize: none;
    

}

.encriptar::placeholder, :focus{
    color: var(--Dark-Blue);
    
}

.encriptador-aviso{
display: flex;
flex-direction: row;
width: 100%;
gap: 1px;


}

.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-style: 18px;
    line-height: 150%;
    opacity: 0,8;
    color: var(--Medium-gray);
    padding: 3%;
    /*margin-bottom: 15px;*/
  

}

.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 100%;
    max-width: 560px;
   
    
}

.btn-encriptar{
    
width: 48%;
max-width: 50%;
height: 67px;
padding: 3%;
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 19px;
text-align: center;
color: var(--white);
background: var(--Dark-Blue);
border: 1px solid var(--Dark-Blue);
border-radius: 24px;
cursor: pointer;
box-shadow: 0px 20px 29px -5px var(--RGBA);

}

.btn-encriptar:active{
    box-shadow: inset 2px 2px 4px var(--font);
    inset: -3px -4px 8px var(--Dark-Blue);
    color: var(--White-blue);
}

.btn-desencriptar{
    width: 48%;
    max-width: 50%;
    height: 67px;
    padding: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: var(--Dark-Blue);
    background: var(--White-blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA);
    
    }

    .btn-copiar:active,
    .btn-desencriptar:active{
        box-shadow: inset 2px 2px 4px var(--Dark-Blue);
       /* inset: -3px -4px 8px var(--font);*/
        color: var(--Medium-Blue);
    }

    .tarjeta{
        width: 50%;
        max-width: 370px;
        height: auto;
        background: var(--font);
       /* box-sizing: 10px 24px 32px -8px var(--Gray);*/
        box-shadow: 10px, 24px, 32px,-8px, var(--Gray);
        position: relative;
        margin: auto;
        border-radius: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 600px;
        


    }

    .tarjeta-contenedor{
        width: 100%;
        margin: center;
        margin-top: 50%;
        background: var(--font);
        

    }



    .img-muñeco{
        background: var(--font);
       /* max-width: 100%;
        padding-bottom: 30%;
        height: auto;*/
        
    }

    .texto-uno{
        font-style: normal;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 120%;
        text-align: center;
        color: var(--Gray);
        background: var(--font);
        
    }

    .texto-dos{
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 150%;
        text-align: center;
        color: var(--Medium-gray);
        background: var(--font);
        margin-bottom: 70px;
    }

    .evaluar{
        width: 100%;
        height: auto;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 36px;
        color: var(--Gree);
        background: transparent;
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        border: none;
        resize: none;
    }

    .evaluar-focus{
        outline: none;

    }

    .btn-copiar{
        width: 100%;
        max-width: 224px;
        align-items: center;

        height: 67px;
        margin-top: 20px;
        position: absolute;
        bottom: 10px;
        /*left: 25%;*/
        visibility: visible;
        padding: 24px;
        font-size: 1rem;
        line-height: 19px;
        text-align: center;
        background: var(--White-blue);
        border: 1px solid var(--Dark-Blue);
        border-radius: 20px;
        cursor: pointer;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover,
    .btn-copiar:hover{
        transform: scale(0.87);
    }
/*--------------------------
Pie de página
--------------------------*/

footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--font);
    color: var(--Gray);
    text-align: center;
    height: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--Gray);

}

.linked:hover{
    color: var(--font);
    opacity: 0.8;

}

.git:hover{
    color: var(--font);
    opacity: 0.6;
    
}

.linked, .git{
    cursor: pointer;
}

/*----------------
Media Queries
----------------*/

@media(max-width:1250px){
    main{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }
    
    }

    .encriptador{
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .encriptador-contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        /*position: inherit;*/
        width: 100%;
        gap: 8px;
        margin-top: 5%;
        
    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }

    .tarjeta{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position:relative ;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700px;
    }
    .btn-copiar{
        max-width: 90%;
       
    }

    


@media(max-width:720px){
    header .logo{
        width: 80px;
        padding: 2px;
    }

    .btn-copiar{
        max-width: 90%;
        margin-top: 20px;
        padding: 10px;
    }
    .encriptador{
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .encriptar{
        width: 90%;
        font-size: 1.5rem;
        height: auto;
    }
    .tarjeta{
        width: 90%;
        height: auto;
        min-height: 300px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .evaluar{
        height: auto;
        max-height: 300px;
    }
    .encriptador-contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 55px;
       padding-right: 20%;
       
        
    }
    .tarjeta-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .img-muñeco{
        display: none;
    }
    
}

